# Variable in python

In [1]:
a=5    #integer type variable
print(a)

5

In [2]:
a='Hello World'  #string type variable
print(a)

Hello World

In [3]:
x=1000
var=100
var=var + x
print(var)

1100

In [5]:
var+x

2100

In [6]:
a=5
a=4.7
a='Python'
print(a)

Python

In [9]:
a=5
b=float(a)
print(a)

5

In [10]:
print(b)

5.0

In [ ]:
#variable names are case sensitive
#letter or underscore can't start with a number 
#contains only number,letters and underscore

In [12]:
id(var) # address

2849779754416

In [13]:
name="proloy Kumar Mondal"
name

'proloy Kumar Mondal'

In [16]:
for_name="proloy"
for_name

'proloy'

In [17]:
my-name="Proloy" #can not use hypen in variable
my-name

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3093705906.py, line 1)

In [18]:
x,y,z=100,200,300

In [19]:
x

100

In [20]:
y

200

In [21]:
z

300

In [25]:
x,y,z=100,200

ValueError: not enough values to unpack (expected 3, got 2)

In [27]:
x,y,=100,200 
x

100

# Global and local Variavle

In [28]:
def function1(n):
    print(n,"I have priented")
function1("This is me")

This is me I have priented

In [32]:
l=10  #global VAriable
def function1(n):
    l=5  #local
    m=8  #local
    print(l,m)
    print(n,"I have priented")
function1("This is me")

#print(l)

5 8
This is me I have priented

In [36]:
def myfunction1():
    global x
    x = "Proloy" # global
    print('This is me:',x)
  
myfunction1()

print('This is 3:',x)

print('This is 2:',x)

This is me: Proloy
This is 3: Proloy
This is 2: Proloy

In [37]:
name="My name is Proloy"
NAME

NameError: name 'NAME' is not defined

In [38]:
name

'My name is Proloy'

In [40]:
name.split()

['My', 'name', 'is', 'Proloy']

In [42]:
name.upper()

'MY NAME IS PROLOY'

# if else condition

In [1]:
a=None
a=10
print(a)
if a==None:
    print("Yes None")
else:
    print("Not None")
#Boolean
print(type(10>20))

if 20>10:
    print("20 is big")
else:
    print("20 is small")

10
Not None
<class 'bool'>
20 is big

In [3]:
a = 8

#if-elif-else ladder in Python
if(a<3): 
    print("The value of a is greater than 3")
elif(a>13):
    print("The value of a is greater than 13")
elif(a>7):
    print("The value of a is greater than 7")
elif(a>17):
    print("The value of a is greater than 17")
else:
    print("The value is not greater than 3 or 7")

The value of a is greater than 7

In [4]:
if(a<3): 
    print("The value of a is greater than 3")

if(a>13):
    print("The value of a is greater than 13")
    
if(a>7):
    print("The value of a is greater than 7")

if(a>17):
    print("The value of a is greater than 17")
else:
    print("The value is not greater than 3 or 7")

print("Done")

The value of a is greater than 7
The value is not greater than 3 or 7
Done

In [5]:
age = int(input("Enter your age: "))

if age>18:
    print("Yes")
else:
    print("No")

Enter your age: 19
Yes

In [10]:
age = int(input("Enter your age: "))
if(age>34 or age<56):
    print("You can work with us")

else:
    print("You cannot work with us")

Enter your age: 1
You can work with us

In [11]:
a = 6
if(a==7):
    print("yes")
elif(a>56):
    print("no and yes")
else:
    print("I am optional")

I am optional

In [12]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
num4 = int(input("Enter number 4: "))

if(num1>num4):
    f1 = num1
else:
    f1 = num4

if(num2>num3):
    f2 = num2
else:
    f2 = num3

if(f1>f2):
    print(str(f1) + " is greatest")
else:
    print(str(f2) + " is greatest")

Enter number 1: 100
Enter number 2: 300
Enter number 3: 500
Enter number 4: 60
500 is greatest

# Loops in python

In [15]:
i = 0
while i<10:
    print("Yes, my name is proloy " )
    i = i + 1

print("Done")

Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Yes, my name is proloy
Done

In [16]:
i = 1

while i<=50:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [17]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

Banana
Watermelon
Grapes
Mangoes

In [18]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']
for i in fruits:
    print(i)

Banana
Watermelon
Grapes
Mangoes

In [20]:
name = ['proloy', 'Probir', 'Pkm', 'Pk']

for item in name:
    print(item)

proloy
Probir
Pkm
Pk

In [21]:
for i in range(1, 8, 1):
    print(i)

1
2
3
4
5
6
7

In [22]:
for i in range(10):
    print(i)
else:
    print("This is inside else of for")

0
1
2
3
4
5
6
7
8
9
This is inside else of for

In [23]:
x = ['proloy','kumar','Mondal']

for y in range(len(x)):
    print(x[y],y)

proloy 0
kumar 1
Mondal 2

In [24]:
for x in range(3,10,2): 
    print(x)

3
5
7
9